*.class
*.DS_Store

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
notifyweb/war/notifyweb/
notifyweb/gwt-unitCache/
notifyweb/test-classes/
notifyweb/www-test/

# boilerplate generated classes #
notifyweb/.apt_generated/

# more caches and things from deploy #
notifyweb/war/WEB-INF/deploy/
notifyweb/war/WEB-INF/classes/

# App engine generated #
notifyweb/war/WEB-INF/appengine-generated/

