<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mailhandler</servlet-name>
		<servlet-class>com.gokaconsulting.notifyweb.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.gokaconsulting.notifyweb.UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/notifyweb/user</url-pattern>
	
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/notifyweb/notification</url-pattern>
	</servlet-mapping>

</web-app>